header{
  width:auto;
  height:auto;
  background-color:lightpink;
}

footer{
  width:auto;
  height:auto;
  background-color:plum;
}
#a{
  background-color:snow;
}

#b{
  background-color:antiquewhite;
}

#c{
  background-color:beige;
}

#d{
  background-color:blanchedalmond;
}

#e{
  background-color:cornsilk;
}

#f{
  background-color:floralwhite;
}

#g{
  background-color:ghostwhite;
}

#h{
  background-color:gainsboro;
}

#i{
  background-color:honeydew;
}

#j{
  background-color:ivory;
}

#k{
  background-color:lightgoldenrodyellow;
}

#l{
  background-color:papayawhip;
}

#m{
  background-color:whitesmoke;
}

#n{
  background-color:seashell;
}

#o{
  background-color:peachpuff;
}

#p{
  background-color:lavenderblush;
}

