header{
  width: 600px;;
  height:200px;
  background-color:lightpink;
}

footer{
  width: 600px;;
  height:200px;
  background-color:plum;

}
#a{
  background-color:snow;
}

#b{
  background-color:antiquewhite;
}

#c{
  background-color:beige;
}

#d{
  background-color:blanchedalmond;
}

#e{
  background-color:cornsilk;
}

#f{
  background-color:floralwhite;
}

#g{
  background-color:ghostwhite;
}

#h{
  background-color:gainsboro;
}

#i{
  background-color:honeydew;
}

#j{
  background-color:ivory;
}

#k{
  background-color:lightgoldenrodyellow;
}

#l{
  background-color:papayawhip;
}

#m{
  background-color:whitesmoke;
}

#n{
  background-color:seashell;
}

#o{
  background-color:peachpuff;
}

#p{
  background-color:lavenderblush;
}

th#a{
  background-color:orangered;
}

th#c{
  background-color:rebeccapurple;
}

th#e{
  background-color:royalblue;
}

th#g{
  background-color:darkturquoise;
}

th#i{
  background-color:tomato;
}

th#k{
  background-color:aqua;
}

th#m{
  background-color:violet;
}

th#o{
  background-color:yellow;
}